/* Mobile & Tablet  */

@media (max-width: 1023px) {
    :root {
        --header-height: 70px;
    }
    .header {
        height: var(--header-height);
    }
   
}

/* Tablet  */

@media(min-width: 740px) and (max-width: 1023px) {
    .header__list-subnav {
        min-width: 210px;
    }
}

/* Mobile  */

@media (max-width: 739px) {
    html{
        -webkit-tap-highlight-color: transparent;
    }
    .hide-on-mobile {
        display: none;
    }
    /* FOOTER  */
    .copyright {
        margin: 30px 0;
    }
    .copyright, .footer__list {
        text-align: center;
    }
    .mobile__navbar {
        display: block;
    }
    .nav__bars-btn{
        display: block;
    }
    .slider__content{
        right: unset;
    }
    .slider__heading{
        font-size: 1.6rem;
    }
    .slider__desc{
        font-size: 1.2rem;
    }
    .nav__mobile-area{
        width: 100%;
    }
}

@media (max-width: 384px)
{
    .app__container-list-item{
        margin: 0 56px;
    }
}